html {
    font-size: 80%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body::after {
    position: fixed;
    inset: 0;
    z-index: -1;
    content: '';
    background: image-set(url('../assets/img/bg.avif'),
            url('../assets/img/bg.webp')) center/cover;
}

form {
    display: flex;
    flex-direction: column;
    top: 10vh;
    left: 10vw;
    width: 30vw;
    gap: 2rem;
}

header h1 {
    position: relative;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}

header h1::after {
    position: absolute;
    bottom: -1vh;
    left: 11vw;
    content: '';
    width: 8vw;
    height: 1vh;
    border-radius: 16px;
    background: linear-gradient(90deg, #4a73e8, transparent);
    animation: shimmer 3s ease-in-out infinite;
}

input:is([type="text"], [type="email"], [type="password"]) {
    border: 1px solid #4a73e8;
    border-radius: 16px;
    color: #4a73e8;
}

input[type="password"] {
    position: relative;
}

input:is([type="text"], [type="email"], [type="password"]):focus {
    color: #4a73e8;
}

.eye {
    position: absolute;
    top: 2.25vh;
    right: 2.5vw;
    display: none;
    background-color: white;
    border: none;
    color: #4a73e8;
    cursor: pointer;
}

.eye:hover {
    transform: scale(1.1);
}

p {
    margin: 0;
}

a {
    position: relative;
    color: #4a73e8;
    font-weight: 900;
    text-decoration: none;
}

a::after {
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    content: '';
    width: 100%;
    height: 0.5vh;
    border-radius: 16px;
    background: linear-gradient(90deg, #4a73e8, transparent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

a:hover::after {
    transform: scaleX(1);
}

#submit {
    width: 12vw;
    height: 8vh;
    margin-bottom: 10vh;
    border: none;
    border-radius: 16px;
    background-color: #4a73e8;
    color: white;
    font-weight: 900;
    overflow: hidden;
    transition: transform 0.3s ease-in;
}

#submit:hover {
    transform: translateY(-1vh);
}

body>h1 {
    position: fixed;
    top: 45%;
    right: 10%;
    color: white;
    font-size: 5rem;
    font-weight: 900;
    text-shadow:
        0 -10rem 0 rgba(255, 255, 255, 0.25),
        0 -5rem 0 rgba(255, 255, 255, 0.5),
        0 5rem 0 rgba(255, 255, 255, 0.5),
        0 10rem 0 rgba(255, 255, 255, 0.25);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vh);
    }
}

@keyframes shimmer {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }
}