body::after {
    position: fixed;
    inset: 0;
    z-index: -1;
    content: '';
    background: url('../img/bg.avif') center/cover;
}

form {
    position: relative;
    top: 10vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 2em;
}

h1 {
    position: relative;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}

h1::after {
    position: absolute;
    bottom: -1vh;
    left: 11vw;
    content: '';
    width: 8vw;
    height: 1vh;
    border-radius: 1rem;
    background: linear-gradient(90deg, #4a73e8, transparent);
    animation: shimmer 3s ease-in-out infinite;
}

h1,
p {
    cursor: default;
}

h1,
div,
p,
#btn {
    user-select: none;
}

input[type="password"] {
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 0.0625em solid #4a73e8;
    border-radius: 1rem;
    color: #4a73e8;
}

input[type="email"]:focus,
input[type="password"]:focus {
    color: #4a73e8;
}

.eye {
    position: absolute;
    top: 2.25vh;
    right: 2.5vw;
    display: none;
    background-color: white;
    color: #4a73e8;
    cursor: pointer;
}

.eye:hover {
    transform: scale(1.1);
}

p a {
    position: relative;
    color: #4a73e8;
    font-weight: 900;
    text-decoration: none;
}

p a::after {
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    content: '';
    width: 100%;
    height: 0.5vh;
    background: linear-gradient(90deg, #4a73e8, transparent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

p a:hover::after {
    transform: scaleX(1);
}

#btn {
    width: 15vw;
    height: 10vh;
    margin-bottom: 10vh;
    border: none;
    border-radius: 1rem;
    background-color: #4a73e8;
    color: white;
    font-size: 1.25rem;
    font-weight: 900;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    will-change: transform;
}

#btn::before {
    position: fixed;
    top: 0;
    left: -100%;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    transition: left 0.3s ease-in-out;
}

#btn:hover {
    transform: translateY(-1vh);
}

#btn:hover::before {
    left: 100%;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.625rem);
    }
}

@keyframes shimmer {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }
}